.login-wrapper{
    width:600px;
    height: 400px;
  position: absolute;
  left:30%;
  top:30%
}

.title{
    text-align: center;
    padding: 10px
}

.forgot-password{
    text-align: center;
    text-decoration: none;
    padding:20px
}

.btn{
    width:100%
}